Test default
{% extends "layout.twig" %}
 
{% block content %}

<div class="bk-pt-default">
      <header class="bk-header">
          <div class="header-container wrapper clearfix">
            <div class="companyheader clearfix">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
              {{widget('extendednavigation', 'navigationheader', {})|raw}}
          </div>
      </header> 
          <div class="wrapper clearfix">
                  {{zone('main')|raw}}
          </div>
              
          <footer class="bk-footer">
          </footer>
</div>

{% endblock %}