{% extends "layout.twig" %}

{% block content %}
    <div id="header" class="bg-pie-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-center">
                    <img src="{{asset('images/PIE247-logo-white.png')}}" class="img-responsive" style="margin:0 auto; max-width:100px; margin-top:10px;">
                </div>
                <div class="col-sm-10 col-xs-12">
                    <h2 class="color-white txt-shadow-lg">First Automated $200,000 Pay Matrix!</h2>
                    <h2 class="color-pie-yellow txt-shadow-lg" style="margin-top:0px;">Introducing The PIE 24/7 Business System</h2>
                </div>
                <div class="col-xs-12 text-center">
                    <a href="index.html" class="btn btn-warning btn-lg header-tab" role="button">Company</a>
                    <a href="product.html" class="btn btn-warning btn-lg header-tab" role="button">Product</a>
                    <a href="money.html" class="btn btn-warning btn-lg header-tab" role="button">Money</a>
                </div>
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /header -->

    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <div class="video-wrapper">
                    <iframe width="560" height="315" src="http://www.youtube.com/embed/BkLPcS1DnE8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div> <!-- /row -->

        <div class="row">

            <div class="col-xs-12 text-center">
                <p>
                    <a href="https://pie247.com/sign-up/" class="btn btn-success btn-lg" role="button" style="margin-bottom:10px;">JOIN NOW!</span></a>
                    <a href="product.html" class="btn btn-warning btn-lg" role="button" style="margin-bottom:10px;">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
                </p>
            </div>

        </div> <!-- /row -->
        <div class="row">

            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2><span class="color-pie-orange txt-shadow">Suggested Business Start-up:</span><br>$5 Activation + $45 Product.<br>A $20 dollar savings during our Pre-Launch Phase.</h2>
                        <h2><span class="color-pie-orange txt-shadow">Potential Earnings:</span><br>Virtually Unlimited!</h2>
                        <p class="text-center"><img src="images/photo-1.png" class="img-responsive" style="margin:0 auto;"></p>
                        <p><em>* Legal Disclaimer - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra tellus dictum tortor ullamcorper, nec sollicitudin nisl pretium.</em></p>
                        <h2><span class="label label-warning txt-shadow" style="font-size:18px;">BONUS OFFER:</span></h2>
                        <h3><a href="https://pie247.com/sign-up/"><strong>JOIN FREE Today During Pre-Launch</strong></a> – See Offer Below!</h3>
                    </div>
                </div>
            </div>

        </div> <!-- /row -->

    </div> <!-- /container -->

    <div class="container">


        <p class="text-center" style="padding-top:40px;"><a href="#"><img src="images/PIE247-logo-web-small.png"></a></p>
        <p class="text-center"><a href="#">Disclaimer</a> / <a href="#">Privacy</a><br>&copy; 2014 PIE 24/7. All rights reserved.</p>

    </div> <!-- /container -->

{% endblock %}